<%- include('../partials/head') %>

<%- include('../partials/header') %>

<main>

  <%- include('../partials/intro') %>

  <%- include('../partials/featured-work') %>

  <%- include('../partials/work') %>

  <%- include('../partials/about') %>

  <%- include('../partials/contact') %>

</main>

<script src="assets/js/script.js" async></script>

<%- include('../partials/tail') %>
