<section id="intro">
  <div class="titles">
    <p class="pre-title"><%= translations.intro.pretitle %></p>
    <h1><%= translations.intro.title %></h1>
    <h1 class="subtitle"><%= translations.intro.subtitle %></h1>
  </div>
  <div class="content">
    <p><%= translations.intro.paragraph %></p>
    <div class="contact-platforms">
      <%- include('../partials/components/github-logo') %>
      <%- include('../partials/components/linkedin-logo') %>
    </div>
  </div>
</section>
